@media(min-width: 1377px) {
    .hero-area-img {
        margin: 0 auto;
        width: 45%;
    }

    .top-header nav {
        font-size: 2.5rem; 
    }
    
    .name-heading {
        font-size: 5.5vw;
    }
    
    .p-headings {
            margin-top: 16rem;
        }
}