@media(min-width: 1377px) {
    .hero-area-img {
        margin: 0 auto;
        width: 45%;
    }

    .top-header nav {
        font-size: 2.5rem; 
    }
    
    .name-heading {
        margin-top: 12rem;
        font-size: 5.5vw;
    }
    
    .p-headings {
            margin-top: 1rem;
    }

    .aboutme-text {
            width: 40%;
    }
}