@media(min-width: 400px) {
    .contact-header nav {
        font-size: 1.8rem;
    }

    .logo {
        font-size: 2rem;
    }

  

    .name-heading {
        margin-bottom: 18rem;
    }

    .p-headings {
        font-size: 4.5vw;
    }

    .think {
        margin-right: 28rem;
    }

    .design {
        margin-right: 24rem;
    }

    .create {
        margin-right: 20rem;
    }
    
    .home-button-container {
        /* margin-top: 6rem; */
    }
    
    footer {
        margin-top: 15rem;
    }

    .form {
        width: 80%;
    }

}

@media(min-width: 444px) {
    .hero-area-img {
        width: 80%;
    }
    
    .think {
        margin-right: 27rem;
    }

    .design {
        margin-right: 23rem;
    }

    .create {
        margin-right: 19rem;
    }

}