@media(min-width: 500px) {
    .button-container {
        margin-bottom: 5rem;
    }
    .menu-nav {
        font-size: 1.2rem;
    }

    .social-nav{
        font-size: .8rem;
    }

    .form {
        width: 70%;
    }
    
    .aboutme-card {
        width: 55%;
    }
    .home-button-container a {
        font-size: 1.5rem;
        /* padding: 1.2rem 5rem; */
}

@media(min-width: 550px) {
    .think {
        margin-right: 29rem;
    }

    .design {
        margin-right: 25rem;
    }

    .create {
        margin-right: 21rem;
    }
}