@media(min-width: 700px) {
    .hero-area-img {
        width: 60%;
    }

    .think {
        margin-right: 38rem;
    }
    .design {
        margin-right: 30rem;
    }
    .create {
        margin-right: 24rem;
    }
}

@media(min-width: 760px) {
    .think {
        margin-right: 39rem;
    }
    .design {
        margin-right: 31rem;
    }
    .create {
        margin-right: 25rem;
    }
}