@media(min-width: 800px) {
    .hero-area-img {
        width: 50%;
    }
    
    .name-heading {
        margin-bottom: 13.5rem;
    }

    footer {
        margin-top: 35rem;
    }

    .form {
        width: 50%;
    }

}

