@media(min-width: 900px) {
    .top-header {
        margin-bottom: .3rem;
        
    }

   

    .header {
        margin-left: 20rem;
     
    }


    .sidebar {
        /* border: 2px solid red; */
        background-color: #6031CA;
        visibility: visible;
        /* margin-top: -.3rem;
        width: 40%;
        font-size: 2rem; */
    }

    .sidebar {
        width: 210px;
        height: 456px;
        /* box-sizing: content-box; */
        padding-top: 15px;
        position: relative;
        background: #6031CA;
        color: white;
        font-size: 11px;
        letter-spacing: 0.2em;
        text-align: center;
        text-transform: uppercase;
      }
      .sidebar:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 13px solid #000000;
        border-left: 70px solid transparent;
        border-right: 70px solid transparent;
      }

    .sidebar ul li {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

    .sidebar li {
        width: 70%;
        background: rgb(18, 5, 48);
        padding: .8rem .8rem 3rem;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: 0 .4rem .6rem #6031CA;
        -moz-box-shadow: 0 .4rem .6rem #6031CA;
        box-shadow: 0 .4rem .6rem #6031CA;
        -webkit-transition: all .20s linear;
        -moz-transition: all .20s linear;
        transition: all .20s linear;
        cursor: pointer;
        position: relative;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    footer {
        margin-top: 0;
    }

    

    .content {
        /* border: 2px solid red; */
        margin: 0 auto;
        width: 100%;
        background: #000000;
    }

    .name-heading {
        font-family: 'Pacifico', cursive;
        font-size: 8.5vw;
        margin-bottom: 16rem;
    }
    .hero-area-img {
        /* width: 60%; */
    }
  
    .p-headings {
        margin-top: 11rem;
        font-size: 3vw;
    }

    .form {
        width: 40%;
    }

    .home-button-container {
        margin-top: 4rem;
    }

}

@media(min-width: 1000px) {
    
    .p-headings {
        margin-top: 15rem;
    }
    .aboutme-text {
        width: 60%;
    }
    .aboutme-card {
        width: 35%;
    }
   
}

