/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover{
    color: #000000;
}

img { 
	max-width: 100%;
}

html {
    font-size: 62.5%;
	color: #FFFFFF;
	background-color: #000000;
	height: 100%;
    
}

body {
	height: 100%;
}

.content-hero-area {
	margin-left: 20rem;
	width: 80%;
	/* border: 2px solid #6031CA; */
}

.this {
	background: #6031CA;
	color: #000000;
	font-size: 5rem;
	display: flex;
	justify-content: space-around;
}

.this-top {
	margin-bottom:3rem;
}

.this-bottom {
	margin-top:10rem;
}

.hero-area-img {
    content: url("../img/trenyph2.png");
    width: 30%;
	margin-left: 80rem;
	margin-top: 5rem;
}


.name-heading {
    /* text-align: center; */
    margin: 0 0 15rem 20rem;
    font-family: 'Pacifico', cursive;
    font-size: 7vw;
    /* margin-bottom: 16rem;
    margin-left: 1rem;
    padding-top: 3rem; */
}


